<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Page</title>
</head>
<body>
    <div id="container">
        <h1>Ung Dung Blog</h1>
        <div id="commentRecord">

        </div>

        <form th:action="@{/create-feedback}" th:object="${commentRecord}" method="POST">
            <fieldset>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{nameImage}"/>
                <input type="hidden" th:field="*{dateTime}"/>
                <label>Select Point:</label>
                <select th:field="*{ratingPoint}">
                    <option th:each="rating : ${ratingPoints}"
                                th:value="${rating.id}"
                                th:text="${rating.point}"></option>
                </select><br/>
                <label for="author">Tác Giả:</label>
                <input id="author" type="text" th:field="*{author}"/><br/>
                <label for="feedback">Bài Viết:</label>
                <textarea id="feedback" name="feedback"
                          rows="10" cols="40"
                          th:field="*{feedback}"></textarea><br/>
                <input type="submit" value="Comment"/>
            </fieldset>
        </form>
    <table>
        <tr>
            <th>Tác Giả</th>
            <th>Bài Viết Blog</th>
            <th>Ngày Đăng</th>
            <th>Name image</th>
            <th>Số Điểm được Vote</th>
            <th>Lượt Thích</th>
        </tr>
            <th:block th:each="row : ${commentRecordList}">
                <tr>
                    <td th:text="${row.author}"></td>
                    <td th:text="${row.author}"></td>
                    <td th:text="${row.feedback}"></td>
                    <td th:text="${row.dateTime}"></td>
                    <td th:text="${row.ratingPoint.point}"></td>
                    <td th:text="${row.numberLikes}"></td>
                    <td><a th:href="@{/calculate-likes/__${row.id}__}"><button>Like</button></a></td>
                </tr>
            </th:block>
    </table>
    </div>
</body>
</html>