<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <div id="container">
        <h1>Danh Sách Sản Phẩm Đang Có</h1>
<!--        <th:block th:if="${message}">
            <h2 th:text="${message}"></h2>
        </th:block>-->
        <table>
            <tr>
                <th>Id</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá Sản Phẩm</th>
            </tr>
            <th:block th:each="product : ${listAllProducts}">
                <tr>
                    <td th:text="${product.getId()}"></td>
                    <td th:text="${product.getName()}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td><a th:href="@{/product/__${product.getId()}__}">Chi Tiết Sản Phẩm</a></td>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>