<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<h1>Bạn Đã Đưa Những Sản Phẩm Sau Vào Giỏ Hàng</h1>
<a th:href="@{/}">Tiếp Tục Mua Hàng</a>
<th:block th:if="${message}">
    <h2 th:text="${message}"></h2>
</th:block>
    <table>
        <tr>
            <th>Id Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Số Lượng Bạn Đã Mua</th>
            <th>Giá Tiền</th>
            <th>Tổng Tiền Phải Thanh Toán</th>
        </tr>
        <form th:action="@{/calculate-sum}" th:object="${shoppingCart}" method="post">
        <th:block th:each="sc : ${shoppingCart}">
            <tr>
                <td th:text="${sc.getId()}"></td>
                <td th:text="${sc.getName()}"></td>
                <td th:text="${sc.getQuantity()}"></td>
                <td th:with="result=${sc.getPrice() * sc.getQuantity()}"><span th:text="${result}"></span></td>
            </tr>
        </th:block>
            <input type="submit" value="Thanh Toán"/>
        </form>
    </table>
</body>
</html>