body {
    font-family: sans-serif, "Times New Roman", Verdana;
}
#page {
    width: 600px;
    height: 400px;
    background-color: aquamarine;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
}