body {
    font-family: "Times New Roman", Verdana, snas-serif;
}

#page {
    width: 500px;
    heigth: 200px;
    background-color:coral;
    margin: 30px auto;
    padding: 10px;
    padding-left: 100px
}
#generate{
    margin-left: 180px;
}
#result {
    padding-left: 100px;
}
a {
    margin-left: 360px;
}