html, body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
#page {
    text-align: center;
}
table {
    width: 60%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    margin: 10px auto;
}
table tr th, td {
    border: 1px solid #dddddd;
    text-align: left;
    height: 25px;
    padding-left: 10px;
}
.fillColor {
    background-color: #dddddd;
}
